* {
  border: 1px solid red;
}

header {
  text-align: center;
}


/*DIV STYLING*/
/* text-align means that the CONTENTS of the selected element,
what's contained within the selected element, becomes centered */
.output-window {
  width: 100vw;
  height: 50vh;
  text-align: center;
}

.question-window {
  text-align: center;
/* look into what this does */
/*  padding: 2vh 50%;*/
}

.answer-window {
  display: flex;
  justify-content: space-around;
  padding: 2vh;
}

#input-field {
  padding: 2vh;
}

/* Individual images */

#teddy-bear {
  height: 40vh;
}
