/** {
  border: 1px solid red;
}*/

header {
  text-align: center;
}


/*DIV STYLING*/
/* text-align means that the CONTENTS of the selected element,
what's contained within the selected element, becomes centered */
.output-window {
  width: 100vw;
  height: 50vh;
  text-align: center;
  position: relative;
}

.question-window {
  text-align: center;
  padding: 2vh 0 0 0;
/* look into what this does */
/*  padding: 2vh 50%;*/
}

.answer-window {
  display: flex;
  justify-content: space-around;
  padding: 2vh;
}

#input-field {
  padding: 2vh;
}

#paris-div {
  padding: 1vh 0;
}

/* Individual images */

#teddy-bear {
  height: 40vh;
}

.turn1 {
  height: 50vh;
  width: 96vw;
  position: absolute;
  left: 0;
}

.turn2 {
  height: 20vh;
  position: absolute;
  left: 30px;
  top: 20px;
}

.turn3 {
  height: 25vh;
  position: absolute;
  /* top & left blow out the text-align from the parent element */
  top: 60px;
  left: 60px;
}
